section
	div(class="cent flex-col md:h-[150px] h-[200px]  text-white relative")
		img( onerror="this.onerror=null;this.src='../assets/logo.jpg';" data-src="../assets/doctor.jpg", alt="" class=" min-h-full min-w-full")
		div(class=" absolute")
			h2(class="text-4xl font-bold") About Us 
			a(href="..//html/index.html" class=" cent" )
				span(class="hover:text-primary cent") Home &nbsp; / &nbsp;
				span  About us


