header(class=" w-full fixed top-0  text-white text-lg  bg-no-repeat bg-cover bg-center z-50 bg-transparent" id="target" )
	div(class="  w-full ")
		div(class="  flex justify-between items-center contain   py-2  gap-[3%]" x-data="{sideBar:true,isMobile: window.innerWidth < 1024 }" x-init="sideBar = (window.innerWidth > 1024)")
			div(class="col-span-1  " ) 
				//- h2.fontprim.text-5xl.font-medium.mt-6 Biolife
				div(class="  flex justify-center h-[86px] maxxl:h-[64] maxlg:h-[34px] w-max")
					img(  src="../assets/logo.png", alt="" class="  h-[86px] maxxl:h-[64] maxlg:h-[34px]")
			div( @click.away="isMobile? sideBar=false :''" x-show="sideBar" class="maxlg:fixed rtl:right-0 ltr:left-0 maxlg:top-0 maxlg:min-w-[280px] maxlg:pt-[60px] lg:flex items-center maxlg:bg-secondary maxlg:px-[16px] maxlg:h-screen maxlg:min-h-screen maxlg:text-white gap-[3%]")
				nav( class="flex justify-between   gap-7 maxlg:flex-col maxlg:items-center min-w-max")

					a(href="http://", target="_blank", rel="noopener noreferrer") 
						h5() Home
					a(href="http://", target="_blank", rel="noopener noreferrer") 
						h5() About Us
					a(href="http://", target="_blank", rel="noopener noreferrer") 
						h5() Services  
					a(href="http://", target="_blank", rel="noopener noreferrer") 
						h5() Technology 
					a(href="http://", target="_blank", rel="noopener noreferrer") 
						h5()   Contact Us
				div( class="flex maxlg:flex-col justify-center items-center maxlg:w-full w-max gap-6 py-4 text-lg maxlg:mt-[40px]")
					
					button(type="button" class="border-red-500 border rounded-full p-2 w-[91px] h-[33px] cent")  LogIn
					button(type="button" class="bg-red-500 border-red-500 border rounded-full p-2 w-[147px] h-[33px] cent")  Register B2B
			div( class=" lg:hidden flex justify-center w-max gap-6 py-4 text-lg ")
				
				button(type="button" class="border-white border rounded-lg p-2  cent" x-on:click="sideBar=true")
					i(class="fa-solid fa-bars text-white")
