include mixins/hero-section.pug 


doctype html
html( dir="ltr" lang="en" )
   include ./components/head

   body(class="text-[#393939] overflow-x-hidden ")
      include ./components/navbar
      +heroSection('ABOUT US')
      section(class="ml-[10%] w-[90%]   py-[5%]" ) 
        



        div(class="flex maxlg:flex-col-reverse   gap-[5%] maxlg:gap-[20px] text-black "  ) 
            div(class="rounded-[33px] lg:w-[40%] w-full px-[6] pt-2 pb-6 text-lg font-medium"  ) 
                h2(class="text-[#2D69A2] text-[40px] font-bold  mb-4")  How does it work?
                h4(class="text-[#515151] text-2xl font-bold  mb-10")  Feel Confident With Us
                p(class="mb-4") We are a travel service company, hotel online network booking system online easy to use and more safety It combines old experience and modern tourism cutting edge technology, which are connected to us and many partners around the world and different countries have strong experience in travel markets.
                p We offer the best services for tourism and travel to customers at the level of classes and cultures. Which vary in service in several forms suitable for every choice in different parts of the world. We focus on offering the best prices, offers and services to customers for a pleasant vacation where they are. And we seek to win the satisfaction of customers by proving them through our services of honesty, honesty, and commitment to time.


            div(class=" w-full lg:w-[55%] px-6 pt-10 relative pb-6 bg-[#D9D9D9] aspect-[712/652]"  ) 
                div(class="px-[12%]")
                    div(class="about-img")
                div(class="h-[5px] absolute bottom-0 inset-x-0  bg-[#86B3F7] w-full " )


      section(class="mx-auto w-[80%]   py-[5%]" ) 
        
            div(class=" w-full px-[6] pt-2 pb-6 text-lg font-medium"  ) 
                h2(class="text-[#2D69A2] text-2xl font-bold  mb-2") About our work
                div(class="h-[3px]  mb-12 bg-[#2D69A2] w-full " )
                p(class="") Hotelsxml, through technology, cuts the prices and availability of the top travel websites and guarantees you to find the best hotel price. You can make your hotel reservations at less cost and quickly With Hotelsxml. You Can make your travel plan anytime, whether during the night or day because we provide 24/7 customer service. Hotelsxml is a great option for you because it is partnered with the globally best hotels in many countries.

      section(class="mx-auto w-[80%] relative flex gap-10 h-fit py-[5%]" )
        //- div(class=" w-1 relative bg-[#8B8B8B]")
        //-     div(class="absolute bg-[#8B8B8B] -ml-[1px] -top-1 w-2 h-2 rounded-full")
        //-     div(class="absolute bg-[#8B8B8B] -ml-[1px] bottom-0 w-2 h-2 rounded-full")  

        div(class=" w-full px-[6] pt-2 pb-6 text-lg font-medium"  ) 
            h2(class="text-[#2D69A2] text-2xl font-bold  mb-2") Hottest Hotels deals:
            div(class="  mb-12 bg-[#A4C8FF]/20 w-full p-5" )
                p(class="text-base") Every hotel brand indeed competes for customers online. We give the hottest hotel deals and provide accommodation for more than 1 million hotels Apartments, and resorts around the world. We believe in the power of extreme personalization and offer the best hotel deals worldwide. Hotelsxml is one of the best platforms to search for a hotel. We provide cheap hotel deals compared to the hundreds of travel websites and save up to 20%.
            h2(class="text-[#2D69A2] text-2xl font-bold  mb-2") Develop a Wider World View:
            div(class="  mb-12 bg-[#A4C8FF]/20 w-full p-5" )
                p(class="text-base") If you want to have a broader worldview, it is essential to explore and visit new places, cultures, and people. Don't overthink; book your Hotel online through Hotelsxml and enjoy trips in different biggest countries at lower prices. It includes more than thousands of destination access through one click, for example; New York, Bali, Paris, Dubai, London, Bangkok, Vienna, Italy, Malaysia, Cape Town, Maldives, Germany, Turkey, Hong Kong, and many more.
          
            h2(class="text-[#2D69A2] text-2xl font-bold  mb-2") Search Smarter, Faster & Better Here:
            
            div(class="  mb-12 bg-[#A4C8FF]/20 w-full p-5" )
                p(class="text-base") You can make online changes anytime if you book online hotels through them. You do not have to wait for the Hotel and the customer service representative to make changes and cancellations to your online reservations. You can also check the hotel deal package, explore pictures of the room, and many other hotel features. Hotelsxml offers the most extensive search results with the right mix of apartments, hotels, and hostels. It is the Hotel's site with a broader range of budgets.          
            h2(class="text-[#2D69A2] text-2xl font-bold  mb-2") Become your travel agent:
            div(class="  mb-12 bg-[#A4C8FF]/20 w-full p-5" )
                p(class="text-base") One of the most exciting experiences is to become your travel agent. You will be able to plan every single detail by yourself through our Hotelsxml. It allows you to arrange your trip as you desire it to be. You can create an ideal package depending on your budget, dates, and preferences. You do not have to wait for the feedback of the agent for the hotel booking.
        
        
        //- div(class=" w-1 relative bg-[#8B8B8B]")
        //-     div(class="absolute bg-[#8B8B8B] -ml-[1px] -top-1 w-2 h-2 rounded-full")
        //-     div(class="absolute bg-[#8B8B8B] -ml-[1px] bottom-0 w-2 h-2 rounded-full")  
      include ./components/footer




