


section
    div(class="contain   font-bold lg:pt-10 pt-5  px-2 text-primary relative")
        div(class=" flex mb-10  gap-4 capitalize")
            h2(class="text-2xl text-center font-bold") #{activeIndex}
            div(class="h-full text-2xl") |
            div(class=" cif lg:text-sm capitalize")
                a(href="./index.html" class=" cif" )
                    span(class="hover:text-primary cent") Home 
                span &nbsp; / &nbsp;
                a(href="" class=" cif" )
                    span  #{activeIndex}

