

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  @apply text-secondary;
}

.swiper-pagination-bullet-active {
  background-color: #B52B33 !important;
}
.swiper-pagination-bullet {
  width:30px !important;
  height:30px !important;
  margin:0 10px !important;
  border:2px solid white;
}
.swiper-pagination {
  bottom:25px !important;

}
.contain {
  @apply !px-[5%] mx-auto 
}
.contain-80 {
  @apply px-[8%] mx-auto 
}

.kristi-regular {
  font-family: "Kristi", cursive;
  font-weight: 400;
  font-style: normal;
}
.active-head {
  @apply text-primary
}
.cent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose_us{
  width: 100%;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/choose-us.svg');
}
.building-icon-big{
  width: 70px;
  height: 75px;
  background-repeat: no-repeat;
  background-image: url('./assets/building.svg');
}
.world-icon{
  width:43.17px;
  height:40.29px;
  background-repeat: no-repeat;
  background-image: url('./assets/world.svg');
}
.site-icon{
  width: 36px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url('./assets/build-location.svg');
}
.people-icon{
  width: 35px;
  height: 31px;
  background-repeat: no-repeat;
  background-image: url('./assets/people-icon.svg');
}
.building-icon{
  width: 40px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url('./assets/building.svg');
}
.bed-icon{
  width: 60px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/bed.svg');
}
.booking-icon{
  width: 46px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/booking-icon.svg');
}
.hotel-icon{
  width: 47px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/hotel-icon.svg');
}
.businessman-icon{
  width: 53px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/businessman-icon.svg');
}
.star-icon{
  width: 52px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/star-icon.svg');
}
.plan-icon{
  width: 53px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/plan-icon.svg');
  @apply rotate-[-45px]
}
.headphone-icon{
  width: 41px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/headphone-icon.svg');
}
.credit-card-icon{
  width: 51px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/credit-card-icon.svg');
}

.credit-icon{
  width: 60px;
  height: 54px;
  background-repeat: no-repeat;
  background-image: url('./assets/credit.svg');
}
.table-icon{
  width: 85px;
  height: 74px;
  background-repeat: no-repeat;
  background-image: url('./assets/table.svg');
}
.tec-bac{
  width: 100%;
  aspect-ratio: 1439/1036;
  background-repeat: no-repeat;
  background-image: url('./assets/tec-background.svg');
}
.log{
  width: 50px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/log.svg');
  @apply maxmd:w-[30px]
}
.booking-tec{
  width: 42px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/booking-tec.svg');
  @apply maxmd:w-[30px]
}
.profile{
  width: 45px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/profile.svg');
  @apply maxmd:w-[30px]
}
.api{
  width: 42px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/api.svg');
  @apply maxmd:w-[30px]
}
.tecnology-icon{
  width: 48px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/tecnology-icon.svg');
  @apply maxmd:w-[30px]
}
.system-integration{
  width: 48px;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-image: url('./assets/system-integration.svg');
  @apply maxmd:w-[30px]
}




.animated-marker {
  position: absolute;

  
  /* background-color: #f00;/ Red for markers */
  /* Map marker shape (triangle on top of rectangle) */
  color: #13599a;
  border-radius: 5px 5px 0 0; /* Rounded top corners */
  transition: all 1s ease-in-out; /* Smooth transition for animation */
  opacity: 0;

}

.animated-marker.active {
  /* Optional styling for active marker (e.g., brighter color) */
  /* background-color: #c00; */
  opacity: 1;
}